@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tattoo Shop Web Application</h1>
    <p>Welcome to my project designed to keep track of tattoo shops</p>
</div>
